p
{
    margin: 0;
    color: white;
}

table
{
    border-collapse: collapse;
}

td
{
    padding: 0 10px 0 10px;
}
tr td
{
    padding-bottom: 1px;
}
tr.context-row td
{
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}
tr.after-context td
{
    padding-top: 5px;
}

input
{
    font-weight: bold;
    border: 0;
}